# Banco de dados
POSTGRES_USER=admin
POSTGRES_PASSWORD=senha123
POSTGRES_DB=filmesdb

# Backend
PORT=3333
DATABASE_URL=postgresql://admin:senha123@database:5432/filmesdb

# Frontend
VITE_API_URL=http://localhost:3333